@inherits LayoutComponentBase

<PageTitle>Main layout</PageTitle>

@*<div class="">
    @*<div class="sidebar">
    <NavMenu />
    </div>
   <main>
    <article class="content px-4">
    @Body
    </article>
    </main>

</div>*@

<main class="px-4 mainContent">
    @Body
</main>