.panelWrap {
    width: 85%;
    margin: 0 auto;
}

.panel {
    width: 55%;
    height: 60%;
    margin: 0 auto;
    overflow-x: hidden;
    overflow-y: scroll;
}

.singleGame {
    /*max-height: 50px;*/
}

.imgContainer {
    max-height: 50px;
}

.image {
    height: 50px;
    width: auto;
    border-radius: 2px;
    margin: auto 0;
}

.textPanel {
    background: rgba(0,0,0, 0.25);
    border-radius: 4px;
    color: white;
    padding: 6px 12px 6px 12px;
    line-height: 40px;
    max-height: 50px;
}

    .textPanel:hover {
        background: rgba(0,0,0, 0.45);
        cursor: pointer;
    }

.descriptionPanel {
    background: rgba(0,0,0, 0.35);
    border-radius: 4px;
    color: white;
    padding: 6px 12px 6px 12px;
    height: 0px;
    visibility: hidden;
}

.show {
    visibility: visible !important;
    height: fit-content !important;
}

.title {
    font-weight: 600;
    font-style: normal;
    font-size: 17px;
}

.releaseDate {
    font-size: 20px;
}

.tagsList {
    font-size: 15px;
}

.ratingPanel:hover .reviewsCountTooltip {
    visibility: visible;
}

.reviewsCountTooltip {
    visibility: hidden;
    width: fit-content !important;
    white-space: nowrap;
    padding: 3px 0;
    text-align: center;
    color: white;
    font-size: 14px;
    background: rgba(0,0,0, 0.85);
    border-radius: 4px;
    /* Position the tooltip */
    position: absolute;
    top: 0;
    left: calc(100% + 10px);
    z-index: 9999;
    overflow: visible; /* Pozwala na wyjœcie tooltipu poza marginesy rodzica */
}

.ratingPanel {
    height: 30px;
    margin: auto 0;
    background: rgba(0,0,0, 0.55);
    border-radius: 8px;
    font-weight: 700;
    font-style: normal;
    font-size: 16px;
    line-height: 32px;
    width: fit-content !important;
    position: relative;
    display: inline-block;
}

.veryLowRating {
    color: red !important;
}

.lowRating {
    color: rgb(245, 110, 86) !important;
}

.mediumRating {
    color: rgb(242, 145, 61) !important;
}

.goodRating {
    color: rgb(136, 226, 21) !important;
}

.veryGoodRating {
    color: rgb(51, 230, 37) !important;
}

.veryLowSimilarity {
    background-color: rgb(159, 15, 0) !important;
}

.lowSimilarity {
    background-color: rgb(172, 63, 0) !important;
}

.mediumSimilarity {
    background-color: rgb(163, 84, 0) !important;
}

.goodSimilarity {
    background-color: rgb(79, 116, 0) !important;
}

.veryGoodSimilarity {
    background-color: rgb(10, 134, 0) !important;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
    scrollbar-width: auto;
    scrollbar-color: #c7c7c7 #575757;
}

    /* Chrome, Edge, and Safari */
    *::-webkit-scrollbar {
        width: 10px;
    }

    *::-webkit-scrollbar-track {
        background: #575757;
    }

    *::-webkit-scrollbar-thumb {
        background-color: #c7c7c7;
        border-radius: 4px;
        border: 0px solid #000000;
    }
